@charset "utf-8";
/* CSS Document */

body{background-color:#f4f4f4;}
.top{font-size:16px; font-weight:bold;line-height:48px;text-align:center; color:#FFF; padding:0 35px 14px 0;background: url(../images/bar_1.jpg) repeat-x #FFF }
.rtn{float:left; margin:17px 12px}
.box{margin:10px 2% 20px; border:1px solid #cbcbcb; padding:2%; line-height:22px; background-color:#fff; font-size:12px}
.icon1{background: url(../images/bg_hydcx.png) no-repeat 1px -24px; padding-left:20px}
.icon2{background: url(../images/bg_hydcx.png) no-repeat 0px -54px; padding-left:20px}
.icon3{background: url(../images/bg_hydcx.png) no-repeat 0px -84px; padding-left:20px; float:left}
.icon4{background: url(../images/bg_hydcx.png) no-repeat 2px -114px; padding-left:20px; clear:left;}
.icon5{background: url(../images/bg_hydcx.png) no-repeat 3px -141px; padding-left:20px; float:left; margin-left:15px}
.pm{background-color:#FFF;border-bottom:1px solid #cbcbcb; }
.pm ul {list-style:none; text-align:center}
.pm ul li{display:block;padding:0 0 10px; width:25%; float:left; background:url(../images/line.png) no-repeat  right 0}
.pm ul li a.line{ padding:0 10% 6px; border-bottom:3px solid #ff6e02}
.sx{background: url(../images/bg_hydcx.png) no-repeat  right 11px; text-align:right; padding-right:20px; line-height:30px; margin:0 5%;}

.box_select{text-align:center; margin:15px 0}
/*.select1{height:25px;padding:0 20px;font-family:'微软雅黑', '新宋体';width:200px;background:url(../images/bg_hydcx.png) 0 -228px no-repeat;overflow:hidden;border:0px;background-color:transparent;}
.select1 a.slct{line-height:30px;padding:7px 92px; border:1px solid #e8e8e8;text-decoration:none;color:#333}*/


