@charset "utf-8";
/* CSS Document */

*{  margin:0px;
	padding:0px;
	border:0;}
	
.content{
	width:1210px;
	height:auto;
	margin:0px auto;}
.content_top{
    width:1210px;
	height:72px;}
#top_l{
      width:500px;
	  height:100px;
	  float:left;}
#top_l img{
      width:500px;
	  height:100px;
	  float:left;}
#top_l dl{
     width: 80px;
	height: 42px;
	float: left;
	font-family:"微软雅黑";
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;}
.top_l dt{
      width:80px; 
        }

.top_r{ width:300px; height:52px;}
.top_r a{ width:52px; height:19px; display:inline-block; font-family:"微软雅黑"; font-size:13px; color:#a0a0a0; text-align:center;}
.top_r a:link{ width:52px; height:19px; display:inline-block;}
.top_r a:hover{width:52px; height:19px; display:inline-block; background:#b71c2c; color:#fff;}
.left-b{ width:935px; height:26px; font-family:""; font-size:24px; font-weight:bold; text-align:center; margin-top:48px; margin-bottom:22px;}
.left-c{ width:935px; height:28px; line-height:28px; font-family:"微软雅黑"; font-size:12px; color:#cacaca; text-align:center}
.left-d{ width:100%; height:90px; background:#fff;margin-top: 20px;}
.left-d dl{ width:900px; margin:auto; position:relative;top:14px;}
.left-d dt{ font-family:"微软雅黑";; font-size:12px; color:#636161; line-height:18px;}
.left-z{ width:935px; height: auto; overflow:hidden;font-family:"微软雅黑";; font-size:12px; margin-bottom:82px;}
.left-z dt{ margin-bottom:50px; text-indent:20px;}
.left-x{ width:905px; height:30px; border: solid 1px #cacaca; border-left:none; border-right:none; text-align:left; padding-left:30px; line-height:30px; font-family:"微软雅黑";; font-size:12px; color:#575757; margin-bottom:80px;}
.left-x img{ float:left; width:935px;}
.left-x span{ margin-left:200px;}
.left-x a{ text-decoration:none; font-family:"微软雅黑";; font-size:12px; color:#575757;}
.left-e{ width:933px;
         height:286px;
		 border: solid 1px #cacaca;
		 font-family:"微软雅黑";;
		 font-size:12px;
		 padding-top:20px;
		 padding-bottom:24px; margin-bottom:120px;}

.left-e dt{ width:911px; line-height:28px; margin-left:20px;}
.left-e span{ color:#BB0000;}
.left-e a{ text-decoration:none;}
#ee{ width:896px; height:none;margin-top:10px; margin-left:20px;}		 


.top_r{
      width:auto;
	  height:52px;
	  float:right;
	  font-family:"微软雅黑";;
	  font-size:14px;
	  margin-top:22px;}
.top_r a:link{
      display:inline-block;
      width:60px;
	  height:19px;
	  text-decoration:none;
	  }
.top_r a:visited{
       display:inline-block;
      width:60px;
	  height:19px;
	  text-decoration:none;
	  }
.top_r a:hover{
  display:inline-block;
      width:60px;
	  height:19px;
      background:#b8192b;
	  color:#fff;
	  text-decoration:none;
	  line-height:19px;

	 } 
.top_r a:active{
       display:inline-block;
      width:60px;
	  height:19px;
	  text-decoration:none;
	  }
.content_left{
	float:left;
	width:935px;
	height:auto;
	overflow:hidden;}
.left-a{
    width:935px;
	height:14px;
	font-family:'΢ź'; 
	font-size:14px;
	coloer:#575556; 
	border-bottom:dotted 2px #e4e4e4;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:16px;}
.left-a span{ color:#a4a4a4;}

.right-m{ width:260px; height:358px; background:url(../news_images/listrighr.png) top no-repeat; list-style:none; margin:28px auto;}
.right-m a:link{
	color:#999;
	text-decoration:underline
	}
.right-m a:visited{
	color:#999;
	text-decoration:underline
	}
.right-m a:hover{
	color:#999;
	text-decoration:underline
	}
.right-m a:active{
	color:#999;
	text-decoration:underline
	}
.right-m li{ background:url(../news_images/rightlibbb.png) bottom no-repeat;font-family:"微软雅黑";; font-size:13px; color:#cacaca; height:38px; line-height:38px;}
.right-m li span{ font-family:Georgia, "Times New Roman", Times, serif; font-size:16px; color:#000; padding-left:17px; padding-right:13px;}
#right-n{ width: 260px;height: 34px;padding-left: 7px;list-style: none outside none;padding-top: 2px; text-align:center;}
#right-n td{ float:left;width:82px; height:28px; padding-top:6px;text-align:center; font-family:"微软雅黑"; font-size:14px; font-weight:bold;}
#nna{ border:solid 1px #e4e4e4; border-top:none; }
#nnb{border-bottom:solid 1px #e4e4e4;}

.content_right{
	float:right;
	width:100%;
	height:auto;
	position: relative;
top: 18px;}
.right-a{ width: auto; height:28px; border:solid 1px #cacaca;}	
.right-z{
	width:100%;
	height: auto;
	overflow:hidden;
	list-style:none;
	font-family:"微软雅黑";
	color:#999;
	font-size:12px;
	line-height:40px;
	margin-top:2px;
}
.right-z li{ width:100%;border-bottom: solid 2px #cacaca;}
.right-z li a:link{ text-decoration:none;color:#585656;}
.right-z li a:visited{ text-decoration:none;color:#585656;}
.right-z li a:hover{ text-decoration:none;color:#b8192b;}
.right-z li a:active{ text-decoration:none;color:#585656;}
.right-z li img{ margin-right:5px;}
.z-a{ border-bottom:none;}
.show{ width:260px; height:190px; padding-top:56px;background:url(../news_images/chen.jpg) no-repeat ;}
.s-b{ width:108px; height:50px; display:block;border:solid 2px #e4e4e4; float:left; position:relative; left:17px;margin: 0px 4px 4px 0px;}

.sin{ width:78px; height:205px; background:url(../news_images/sin.jpg) no-repeat; float:right; position:relative; top:394px;}
#ss{ width:70px; height:70px; display:block;border-radius:50%; behavior:url(PIE.htc);}
#s-a{ width:78px; height:85px; }
#s-b{ width:78px; height:40px; font-family:"微软雅黑";; font-size:12px;font-weight:bold;line-height: 40px;
text-align: center;}
#s-b a{ text-decoration:none; color:#fff;}
.right-m a:link{
	color:#666;
	text-decoration:none}
.right-m a:visited{
	color:#666;
	text-decoration:none}
.right-m a:hover{
	color:#b71a2b;
	text-decoration:none}
.right-m a:active{
	color:#666;
	text-decoration:none}
	#prev a:link{
	display:block;
	width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#666;
	text-decoration:none;
	}
#prev a:visited{
	display:block;
	width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#666;
	text-decoration:none;
	}
#prev a:hover{
	display:block;
	width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	}
#prev a:active{
	display:block;
	width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	}

.left-d ul{
	    float:right;
        width: auto;
		height:36px;
		margin:0px;
		padding:0px;
		list-style-type:none;}
.left-d ul li{
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 12px;
	font-weight: lighter;
	margin-left: 5px;
		}	
		
		


.d-a{
     width:62px;
	 height:32px;
	 }
.d-a a{ width:62px;
      height:32px;
	  display:iline-block;
	  color:#a0a0a0;}
.d-a a:link{
	 display:block;
      width:62px;
	  height:32px;}
.d-a a:visited{
	 display:block;
      width:62px;
	  height:32px;}
.d-a a:hover{
	 display:block;
      width:62px;
	  height:32px;
	  color:#EEE;
	  background:#bb283a;}
.d-a a:active{
	 display:block;
      width:62px;
	  height:32px;}
.d-b{
      width:106px;
	  height:32px;
	  font-size:12px; 
	  border:none;}	
.d-c{
      width:33px;
	  height:32px;
	  font-size:12px; 
	  border:none;}
.d-d{
     width:53px;
	 height:32px;
	 }
.d-d a{ width:53px;
      height:32px;
	  display:block;
	  color:#a0a0a0;}
.d-d a:link{
	  display:block;
      width:53px;
	  height:32px;}
.d-d a:visited{
	  display:block;
      width:53px;
	  height:32px;}
.d-d a:hover{
	 display:block;
      width:53px;
	  height:32px;
	  color:#EEE;
	  background:#c11572;}
.d-d a:active{
	  display:block;
      width:53px;
	  height:32px;}
.left-d ul li a:link{
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#666;
	text-decoration:none;	
	}
.left-d ul li a:visited{
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#666;
	text-decoration:none;
	}
.left-d ul li a:hover{
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	}
.left-d ul li a:active{
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	}
#queren a:link{
	display:block;
	width:50px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#666;
	text-decoration:none;
	}
#queren a:visited{
	display:block;
	width:50px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#666;
	text-decoration:none;
	}
#queren a:hover{
	display:block;
	width:50px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	}
#queren a:active{
	display:block;
	width:50px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	
	}
