	<div id="bottom-nav">
        <a data-tab="index" href="{site_url url='index'}" {if $flag eq 'a'}class="active"{/if}><i class="ch-index"></i><span>楼盘</span></a>
        <a data-tab="photos" href="{site_url url='news'}"  {if $flag eq 'b'}class="active"{/if}><i class="ch-showhome"></i><span>动态</span></a>
        <a data-tab="people" href="{site_url url='tools'}"  {if $flag eq 'c'}class="active"{/if}><i class="ch-people"></i><span>工具</span></a>
        <a data-tab="findpros" href="{site_url url='user'}"  {if $flag eq 'd'}class="active"{/if}  _hover-ignore="1"><i class="ch-pros"></i><span>我的房猫</span></a>
    </div>