<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" name="viewport">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="css/nav_bottom.css" rel="stylesheet" type="text/css">
<title>房产资讯详情-房猫经纪人触屏版</title>
</head>
<body>
<div id="page">
	<div class="scroll">
		<section id="J_Nav" class="header">
		<div class="head">
			<div class="head-in" id="J_headNav">
				<div class="logo">
					<a href="#!/today" data-spm-anchor-id="a2141.7240237.100000.2"><s></s></a>
				</div>
				<div class="naver1">
					资讯详情 <span class="login01"><a id="userLogin" href="newUser.html">登录</a></span>
				</div>
				<div class="hd-menu">
					<a class="btn-hd-menu"></a>
				</div>
			</div>
		</div>
		<div class="zxuybox">
			<div class="zxuymid">
				<div class="clear01">
				</div>
				<h1>【快讯】房产税试点扩围止步 业内：将拓宽为“房地产税”</h1>
				<font>房猫经纪人平台 &nbsp;2014-12-26 10:25:54</font>
				<div class="clear01">
				</div>
				<div class="infocont" id="page1">
					<div class="zxuycon">
						&nbsp;&nbsp; 日前有消息称，因房产税存在较大争议，房产税扩围或已停止，转为推进房地产税立法工作，届时，重庆和上海将按照新政实施。由“房产税”到“房地产税”的变化，乍看起来只有一字之差，但其中的内涵却完全不同。<br>
						<br>
						&nbsp;&nbsp;业内人士表示，目前市场对房产税的关注热度相对降温，从房地产市场化调控思路、经济发展新常态的导向来看，政府会把视野放宽，即从“房产税”转变为“房地产税”的提法，尤其在此前土地增值税的负面下，会对房地产税整个大框架进行再构建。
					</div>
				</div>
				<div class="clear01">
				</div>
				<div class="clear01">
				</div>
			</div>
			<div class="zxuylist">
				<p>
					相关新闻
				</p>
			</div>
			<div class="zxuylist02">
				<ul>
				</ul>
			</div>
		</div>
		</section>
	</div>
	<div class="mydown">
		<p>
			<span>触屏版</span><a href="http://www.ksls.com.cn">电脑版</a><a href="#">客户端</a>
		</p>
		<ul>
			<li>©2000-2014 ksls.com.cn 房猫经纪人</li>
			<li><span class="lione"><a href="http://weibo.com/ksls"></a></span><span>|</span><span class="lione02"><a href="#"></a></span><span>微信公众账号:kunshanloushi</span></li>
			<li>客服电话:400-626-9900</li>
		</ul>
	</div>
	<div id="bottom-nav">
		<a data-tab="index" href="index.html"><i class="ch-index"></i><span>楼盘</span></a><a data-tab="news" href="news.html"><i class="ch-showhome"></i><span>动态</span></a><a data-tab="tools" href="tools.html" class="active"><i class="ch-people"></i><span>工具</span></a><a data-tab="myfangmao" href="ifangmao.html"><i class="ch-pros"></i><span>我的房猫</span></a>
	</div>
</div>
</body>
</html>