<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable = no' name='viewport'/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href="css/nav_bottom.css" rel="stylesheet" type="text/css">
<title>房产资讯-房猫经纪人触屏版</title>
</head>
<body>
<div id="page">
	<div class="scroll">
		<section id="J_Nav" class="header">
		<!-- head -->
		<div class="head">
			<div class="head-in" id="J_headNav">
				<div class="logo">
					<a href="#">
					<s></s>
					</a>
				</div>
				<div class="naver1">
                     房产资讯
					<span class="login01"><a id="userLogin" href="newUser.html">登录 </a></span>
				</div>
				<div class="hd-menu">
					<a class="btn-hd-menu"></a>
				</div>
			</div>
		</div>
		<div class="weifcon">
			<div class="zxucon">
				<ul>
					<div class="newsitem">
                  <a href="{site_url url='tools/newsdetail'}">
						<li>
						<div class="zxuright02">
							<p>
								【快讯】房产税试点扩围止步 业内：将拓宽为“房地产税”
							</p>
			        	2014-12-26 10:22:59
						</div>
						</li></a>
					</div>
					
					<div class="newsitem">
						<li>
						<div class="zxuright02">
							<p>
								那些年的网络中老年词汇，戳进来暴露年龄啦
							</p>
			        	2014-12-26 17:22:11
						</div>
						</li>
					</div>
					<div class="newsitem">
						<li>
						<div class="zxuleft">
							<img src="images/1419635741536.jpg" width="310" height="232">
						</div>
						<div class="zxuright">
							<p>
								养老金并轨，事关福利，你一定要看看
							</p>
							<span>
	养老保险破除“双轨制”的改革有确切
							</span>
						</div>
						</li>
					</div>
					<div class="newsitem">
						<li>
						<div class="zxuright02">
							<p>
								昆山大面积房源充足，二手楼未见抛售潮
							</p>
			        	2014-12-26 15:53:25
						</div>
						</li>
					</div>
					
					<div class="newsitem">
						<li>
						<div class="zxuright02">
							<p>
								快发年终奖了，能拿多少你造吗？？？
							</p>
			        	2014-12-26 11:13:03
						</div>
						</li>
					</div>
					
					<ul>
					</ul>
				</ul>
			</div>
			<ul id="ul">
			</ul>
			<div class="clear01">
			</div>
			<div class="zxubut" id="next_page">
				<a id="jiazai">加载更多</a>
			</div>
			<div class="clear01">
			</div>
		</div>
	</div>
	<div class="mydown">
		<p>
			<span>触屏版</span><a href="http://www.ksls.com.cn">电脑版</a><a href="#">客户端</a>
		</p>
		<ul>
			<li>©2000-2014 ksls.com.cn 房猫经纪人</li>
			<li><span class="lione"><a href="http://weibo.com/ksls"></a></span><span>|</span><span class="lione02"><a href="#"></a></span><span>微信公众账号:kunshanloushi</span></li>
			<li>客服电话:400-626-9900</li>
		</ul>
	</div>
	<!--  导航 -->
	<div id="bottom-nav">
		<a data-tab="index" href="index.html"><i class="ch-index"></i><span>楼盘</span></a>
		<a data-tab="news" href="news.html"><i class="ch-showhome"></i><span>动态</span></a>
		<a data-tab="tools" href="tools.html" class="active"><i class="ch-people"></i><span>工具</span></a>
		<a data-tab="myfangmao" href="ifangmao.html"><i class="ch-pros"></i><span>我的房猫</span></a>
	</div>
	</body>
	</html>